<div class="login-page">
	<div class="login-main">
		<div class="login-head">
			<h1>Login</h1>
		</div>
		<div class="login-block">
			<h2 ng-show="self.forgotMsg">{{self.forgotMsg}}</h2>
			<form name="loginForm" ng-submit="self.login(username, password, remember)" ng-hide="self.forgotMsg || self.reseting_pswd">
				<div ng-show="self.error === 'not existing user'" id=email_incorrect_lihi>This user is not registered</div>
				<div ng-show="self.error === 'not confirmed user'" id=password_incorrect_lihi>The email is not confirmed yet</div>
				<input type="text" name="username" placeholder="Username" required="" ng-model="username">
				<div ng-show="self.error === 'wrong password'" id=password_incorrect_lihi>The password is incorrect</div>
				<input type="password" name="password" class="lock" placeholder="Password" ng-model="password">
				<div class="forgot-top-grids">
					<div class="forgot-grid">
						<ul>
							<li>
								<input type="checkbox" id="brand1" value="" ng-model="remember">
								<label for="brand1"><span></span>Remember me</label>
							</li>
						</ul>
					</div>
					<div class="forgot">
						<a href ng-click="self.forgotPass()">Forgot password?</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<input type="submit" name="Sign In" value="Login">
				<h3>Not a member?<a href ng-click="self.setState('signup')"> Sign up now</a></h3>
			</form>

			<div ng-show="self.reseting_pswd">
				<h4>Please wait...</h4>
				<div class="spinner_connecting">
					<div class="dot1"></div>
					<div class="dot2"></div>
				</div>
			</div>

		</div>
	</div>
</div>