<div class="signup-page-main" id=body_signup_lihi>
    <div class="signup-main">
        <div class="signup-head">
            <h1>Sign Up</h1>
        </div>
        <div class="signup-block" >
            <h3 ng-show="self.regMsg">{{self.regMsg}}</h3>
            <h3 ng-show="self.error">{{self.error}}</h3>
            <form name="myform" ng-hide="self.regMsg || self.error || self.signingup" novalidate>
                <div class="control-group" ng-class="{error:!myform.username.$valid}">
                    <!--<label for="inputUsername" class="control-label">Username:</label>-->
                    <div class="controls">
                        <input type="text" id="inputUsername" name="username" ng-model="username" placeholder="Username" valid-username />
                        <div class="help-inline">
                            <span ng-show="!!myform.username.$error.isBlank">Username Required.</span>
                            <span ng-show="!!myform.username.$error.invalidChars">Username must contain letters &amp; numbers only.</span>
                            <span ng-show="!!myform.username.$error.invalidLen">Username must be 5-20 characters.</span>
                        </div>
                    </div>
                </div>
                <div class="control-group" ng-class="{error:!myform.email.$valid}">
                    <!--<label for="inputemail" class="control-label">email:</label>-->
                    <div class="controls">
                        <input type="email" id="inputemail" name="email" ng-model="email" placeholder="Email" valid-email />
                        <div class="help-inline">
                            <span ng-show="!!myform.email.$error.isBlank">Email Required.</span>
                            <span ng-show="!!myform.email.$error.invalidEmail">Invalid email</span>
                        </div>
                    </div>
                </div>
                <div class="control-group" ng-class="{error:!myform.password.$valid}">
                    <!--<label for="inputPassword" class="control-label">Password:</label>-->
                    <div class="controls">
                        <input type="password" id="inputPassword" name="password" ng-model="password" placeholder="Password" valid-password />
                        <div class="help-inline">
                            <span ng-show="!!myform.password.$error.isBlank">Password Required.</span>
                            <span ng-show="!!myform.password.$error.isWeak">Must contain one letter and a non-letter (number or symbol.)</span>
                            <span ng-show="!!myform.password.$error.invalidLen">Must be 8-20 characters.</span>
                        </div>
                    </div>
                </div>
                <div class="control-group" ng-class="{error:!myform.password_c.$valid}">
                    <!--<label for="password_c" class="control-label">Confirm Password:</label>-->
                    <div class="controls">
                        <input type="password" id="password_c" name="password_c" ng-model="password_c" placeholder="Confirm password" valid-password-c
                        />
                        <div class="help-inline">
                            <span ng-show="!!myform.password_c.$error.isBlank">Confirmation Required.</span>
                            <span ng-show="!!myform.password_c.$error.noMatch">Passwords don't match.</span>
                        </div>
                    </div>
                </div>
                <div class="form-actions" ng-show="formAllGood()">
                    <input type="button" ng-click="self.signup()" class="btn btn-primary" value="Submit" />
                </div>
            </form>
            <div class="sign-down" ng-hide="self.signingup">
                <h4>Already have an account? <a href ng-click="self.setState('login')"> Login here.</a></h4>
                <!--<h5><a href="index.html">Go Back to Home</a></h5>-->
            </div>
            <div ng-show="self.signingup">
            <h4>Please wait...</h4>
            <div class="spinner_connecting">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>

        </div>

        
    </div>
</div>


<!--<div ng-app="myapp">
   <form name="myForm">
   <label for="email">Email</label>
   <input type="email" id="email" name="email" ng-model="formData.email" required/>
   <span ng-show="myForm.email.$error.required && myForm.email.$dirty">required</span>
   <span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty">invalid email</span>
       <br />
   <label for="email">Name</label>
   <input type="text" id="name" name="name" ng-model="formData.name" required/>
   <span ng-show="myForm.name.$error.required && myForm.name.$dirty">required</span>
       <br />
       <label for="username">Username</label>
       <input type="text" id="username" name="username" ng-model="formData.username" ng-minlength="5" ng-maxlength="20" ng-pattern="/^[A-z][A-z0-9]*$/" required  />
   <span ng-show="myForm.username.$error.required && myForm.username.$dirty">required</span>
   <span ng-show="!myForm.username.$error.minLength && !myForm.username.$error.maxLength && myForm.username.$error.pattern && myForm.username.$dirty">Must start with a letter, and contain letters &amp; numbers only.</span>
   <span ng-show="!myForm.username.$error.required && (myForm.username.$error.minlength || myForm.username.$error.maxlength) && myForm.username.$dirty">Username ust be between 5 and 20 characters.</span>
       <br />


       <label for="password">Password</label>
       <input type="password" id="password" name="password" ng-model="formData.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
   <span ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
   <span ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty">Passwords must be between 8 and 20 characters.</span>
   <span ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
       <br />


       <label for="password_c">Confirm Password</label>
       <input type="password" id="password_c" name="password_c" ng-model="formData.password_c" valid-password-c required  />
   <span ng-show="myForm.password_c.$error.required && myForm.password_c.$dirty">Please confirm your password.</span>
   <span ng-show="!myForm.password_c.$error.required && myForm.password_c.$error.noMatch && myForm.password.$dirty">Passwords do not match.</span>
       <br />

   <button type="submit" class="btn" ng-disabled="!myForm.$valid">Submit</button>
	</form>
   </div>-->