/*
 * Hover.css - Demo Page
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */

/**
 * The following are default styles for the demo page,
 * you don't need to include these on your own site.
 */

@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  margin: 0;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.browsehappy {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 1em;
    background: black;
    color: white;
    text-align: center;
}

img {
  border: none;
}

small {
    display: block;
}

p,
[class^="hvr-"] {
    font-family: 'Roboto', sans-serif;
}



.aligncenter {
  text-align: center;
}

.sup {
    vertical-align: super;
    margin-left: -1em;
    padding: .21875em;
    line-height: 100%;
    font-size: .21875em;
    border: #eee solid 1px;
    border-radius: 4px;
    color: inherit;
}

.sup:hover {
    background: #eee;
}

a {
    color: #ff3b3f;
    text-decoration: none;
}

.footer a:hover,
.tutorial:hover {
    color: #207AD1;
}

.tutorial {
  display: inline-block;
  font-size: .8em;
  font-weight: bold;
}

.tutorial:hover,
.tutorial:focus,
.tutorial:active {
  text-decoration: none;
}

@media (max-width:768px){
[class^="hvr-"] {
    padding: 0.5em;
}
}

