* {
	box-sizing: border-box;
	background-color: #ccffff;
	margin:0;
	padding: 0;
	font-family: tahoma;

}

h1 {
	text-align: center;
	color: #b30086;
	padding: 25px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 175%;

}

div {
	display: inline-block;
}

#devices_old {
	
	margin: 0px;
	padding: 0;
	background-color: white;
	position: absolute;
	width: 100%;
  height: 500px;
	/*box-sizing: border-box;*/
}

#devices_search {
  
  margin: 0px;
  padding: 0;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 500px;
  float: left;
  /*box-sizing: border-box;*/
}

h2 {
	background-color: #ffffff;
	border: 1px solid black;
	position: relative;
	right: 0px;
	top: 0px;
	font-weight: bold;
	font-size: 125%;
	float: right;
	
}

.section {
	background-color: #f35100;
	/*padding: 0px;*/
	border: 1px solid black;
	/*width: 100%;*/
	/*float: left;*/
	margin: 10px;
	/*position: relative;*/
	/*padding-top: 0;*/

}

section {
	background-color: #f35100;
	/*padding: 8px;*/
	/*border: 1px solid black;*/
	/*width: 100%;*/
	/*float: left;*/
	/*margin: 10px;*/
	/*position: relative;*/
	/*padding-top: 34px;*/
	/*display: inline-block;*/
}
#title1 {
	background-color: #586d40;
	color: white;
}

#title2 {
	background-color: #540656;
	color: white;
}

#title3 {
	background-color: #c46ab2;
	color: white;
}

p {
	background-color: #f35100;
	width: 95%;
	/*text-align: left;*/
	margin-right: auto;
	margin-left: auto;
	clear: right;
	padding-bottom: 10px;


}
body {
	position: relative;
}
.row {
  width: 100%;
}

@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border-color: white;
    display: inline-block;
} 
.col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border-color: yellow;
    display: inline-block;
	}

.col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (max-width: 767px) {


}

