
<div class="page-container">
  <!--inner block start here-->
  <div class="inner-block" ng-show="self.dongleState">
    <!--mainpage chit-chating-->
    <div class="chit-chat-layer1">
      <div class="col-md-6 chit-chat-layer1-left">
        <div class="work-progres">

          <div class="settings-heading">
            <form id="device_name_change">
              <input type="text" name="DeviceName" id="device_name_change" value="DeviceName" ng-model="self.deviceData.device_name">
              <p id="changeDeviceNameText"> click name to change </p>
            </form>
          </div>

          <div class="table-responsive">

            <table class="table table-hover">
              
              <div class="market-updates">

                <!--PIR-->
                <div class="col-md-4 market-update-gd">

                  <button class="features_photos" ng-click="self.swapSettingState('pir')" ng-hide="self.deviceData['pir'].state"><img src="static/images/human.png"><br>Burgler Alarm</button>

                  <div class="market-update-block clr-block-2" ng-show="self.deviceData['pir'].state">
                    <div class="col-md-8 market-update-left">
                      <h3>Burgler Alarm</h3>
                      <h4>Set the sensitivity for human detection sensor for witch you will be alerted</h4>
                      <div class="glyphicon-trash_lihi">
                        <p class="in_settings_text">Sensor sensitivity</p>

                        <form>
                          <select convert-to-number class="in_settings" ng-model="self.deviceData['pir'].threshold">
                                  <option ng-selected="self.deviceData['pir'].threshold === 30" value=30>Low sensitivity</option>
                                  <option ng-selected="self.deviceData['pir'].threshold === 22" value=22>Medium sensitivity</option>
                                  <option ng-selected="self.deviceData['pir'].threshold === 15" value=15>High sensitivity</option>
                                  <option ng-selected="self.getPirCustom()"  value={{self.getIncPirThreshold()}}>Custom</option>
                                </select>
                        </form>

                        <div ng-show="self.getPirCustom()">
                          <p class="in_settings_text">Choose PIR threshold</p>
                          <form>
                            <!--<select class="in_settings">-->
                            <p>Threshold is set to:</p><input class="in_settings" type="number" min="5" max="65" string-to-number
                              convert-to-number ng-model="self.deviceData['pir'].threshold" />
                            <!--</select>-->
                          </form>
                        </div>
                        <br>
                        <input class="in_settings_check" type="checkbox" name="email" value="email" ng-model="self.deviceData['pir'].email" />
                        <p class="in_settings_check"> Email</p>
                        <br>
                        <input class="in_settings_check" type="checkbox" name="email" value="email" ng-model="self.deviceData['pir'].notification"
                        />
                        <p class="in_settings_check"> Notification</p>
                      </div>
                      <button ng-click="self.swapSettingState('pir')" class="connect-button"> Disable</button>
                    </div>
                    <div class="col-md-4 market-update-right">
                      <img class="fa-burgler" src="static/images/human-m.png">
                    </div>
                    <div class="clearfix"> </div>
                  </div>

                </div>

                <!--Tilt-->
                <div class="col-md-4 market-update-gd">

                  <button class="features_photos" ng-click="self.swapSettingState('tilt')" ng-hide="self.deviceData['tilt'].state"><img src="static/images/movement.png"><br>Movement Detection</button>

                  <div class="market-update-block clr-block-2" ng-show="self.deviceData['tilt'].state">
                    <div class="col-md-8 market-update-left">
                      <h3>Movement Detection</h3>
                      <h4>Set the sensitivity for movement detection sensor for witch you will be alerted</h4>
                      <div class="glyphicon-trash_lihi">
                        <p class="in_settings_text">Sensor sensitivity</p>

                        <form>
                          <select convert-to-number class="in_settings" ng-model="self.deviceData['tilt'].threshold">
                            <option ng-selected="self.deviceData['tilt'].threshold === 100" value=100>Low sensitivity</option>
                            <option ng-selected="self.deviceData['tilt'].threshold === 80" value=80>Medium sensitivity</option>
                            <option ng-selected="self.deviceData['tilt'].threshold === 40" value=40>High sensitivity</option>
                        </select>
                        </form>
                        <br>
                        <input class="in_settings_check" type="checkbox" name="email" value="email" ng-model="self.deviceData['tilt'].email" />
                        <p class="in_settings_check"> Email</p>
                        <br>
                        <input class="in_settings_check" type="checkbox" name="notification" value="notification" ng-model="self.deviceData['tilt'].notification"
                        />
                        <p class="in_settings_check"> Notification</p>

                      </div>
                      <button ng-click="self.swapSettingState('tilt')" class="connect-button"> Disable</button>


                    </div>
                    <div class="col-md-4 market-update-right">
                      <img class="fa-burgler" src="static/images/movement-m.png">
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>


                <!--temperature-->
                <div class="col-md-4 market-update-gd">
                  <button ng-click="self.swapSettingState('temperature')" ng-hide="self.deviceData['temperature'].state" class="features_photos"><img src="static/images/temperature.png"></button>

                  <div class="market-update-block clr-block-2" ng-show="self.deviceData['temperature'].state">
                    <div class="col-md-8 market-update-left">
                      <h3>{{self.sensors['TEMPERATURE']}}°C</h3>
                      <h4>Watch the current temperature</h4>
                      <div class="glyphicon-trash_lihi">
                        <p class="in_settings_text">Temperature range</p>

                        <form>
                          <rzslider rz-slider-model="self.deviceData['temperature'].min_threshold" rz-slider-high="self.deviceData['temperature'].max_threshold"
                            rz-slider-options="self.tempSlider">
                          </rzslider>
                          <!--<input type="range" min="-20" max="40" value="" />-->
                          <br><br>
                          <input class="in_settings_check" type="checkbox" name="email" value="email" ng-model="self.deviceData['temperature'].email"
                          />
                          <p class="in_settings_check">
                            Email</p><br>
                          <input class="in_settings_check" type="checkbox" name="notification" value="notification" ng-model="self.deviceData['temperature'].notification"
                          />
                          <p class="in_settings_check"> Notification</p>
                        </form>

                      </div>
                      <button ng-click="self.swapSettingState('temperature')" class="connect-button"> Disable</button>

                    </div>
                    <div class="col-md-4 market-update-right">
                      <img class="fa-burgler" src="static/images/thermometer-m.png">
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>

                <div class="clearfix"> </div>
              </div>

            </table>
          </div>
          <!--First row end-->

          <div class="table-responsive">
            <table class="table table-hover">
              <div class="market-updates">
                <!--range-->
                <div class="col-md-4 market-update-gd">
                  <button ng-click="self.swapSettingState('tracker')" ng-hide="self.deviceData['tracker'].state" class="features_photos"><img src="static/images/range.png"></button>
                  <div class="market-update-block clr-block-2" ng-show="self.deviceData['tracker'].state">
                    <div class="col-md-8 market-update-left">
                      <h3>Out of range</h3>
                      <!--<h4>Set the sensitivity for out of range detection for witch you will be alerted</h4>-->
                      <div class="glyphicon-trash_lihi">
                        <!--<p class="in_settings_text">Sensor sensitivity</p>-->

                        <form>
                          <!--<select class="in_settings" ng-model="self.deviceData['tracker'].threshold">
                                
                                    <option ng-selected="self.deviceData['tracker'].threshold === 190" value=190>Short range</option>
                                    <option value="Long range">Long range</option>
                                </select>-->
                          <br><br>
                          <input class="in_settings_check" type="checkbox" name="email" value="email" ng-model="self.deviceData['tracker'].email" />
                          <p class="in_settings_check"> Email</p><br>
                          <input class="in_settings_check" type="checkbox" name="notification" value="notification" ng-model="self.deviceData['tracker'].notification"
                          />
                          <p class="in_settings_check"> Notification</p>
                        </form>

                      </div>
                      <button ng-click="self.swapSettingState('tracker')" class="connect-button"> Disable</button>
                    </div>
                    <div class="col-md-4 market-update-right">
                      <img class="fa-burgler" src="static/images/range-m.png">
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>

                <!--button-->
                <div class="col-md-4 market-update-gd">
                  <button class="features_photos" ng-click="self.swapSettingState('button')" ng-hide="self.deviceData['button'].state"><img src="static/images/multi.png"><br>Multi-button</button>

                  <div class="market-update-block clr-block-2" ng-show="self.deviceData['button'].state">
                    <div class="col-md-8 market-update-left">
                      <h3>Multi-button</h3>
                      <h4>Set a function to be executed when the multi-button is pressed</h4>
                      <div class="glyphicon-trash_lihi">
                        <p class="in_settings_text">Action to perform</p>

                        <form>
                          <select convert-to-number class="in_settings" ng-model="self.deviceData['button'].option">
                                
                                    <option "self.deviceData['button'].option === 1" value=1>Panic</option>
                                    <!--<option value="call">Call phone</option>
                                    <option value="sms">Send SMS</option>
                                    <option value="photo">Take a photo</option>
                                    <option value="audio">Capture audio</option>-->
                                </select>

                          <p class="in_settings_text">Email text:</p>
                          <input class="in_settings_email" type="text" ng-model="self.deviceData['button'].msg" />
                          <!--<input class="in_settings_ok" type="submit" value="Ok">-->
                          <br>
                          <br>
                          <input class="in_settings_check" type="checkbox" name="email" value="email" ng-model="self.deviceData['button'].email" />
                          <p class="in_settings_check"> Email</p>
                          <br>
                          <input class="in_settings_check" type="checkbox" name="notification" value="notification" ng-model="self.deviceData['button'].notification"
                          />
                          <p class="in_settings_check"> Notification</p>
                        </form>
                      </div>
                      <button ng-click="self.swapSettingState('button')" class="connect-button"> Disable</button>
                    </div>
                    <div class="col-md-4 market-update-right">
                      <img class="fa-burgler" src="static/images/multi-m.png">
                    </div>
                    <div class="clearfix"> </div>
                  </div>

                </div>

                <!--password-->
                <div class="col-md-4 market-update-gd">
                  

                </div>
                
                <div class="clearfix"> </div>
              </div>
            </table>
          </div>
          <!--Seccond row end-->
      <div class="table-responsive"> </div>
          <div class=scan_button_lihi ng-hide="self.updating">
            <a href class="hvr-rectangle-out" ng-click="self.update()">Update settings</a>

          </div>
          <div class=scan_button_lihi ng-show="self.updating">
            <a href class="hvr-rectangle-out_spinner">Updating
              <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </a>
          </div>
        </div>

      </div>

        <div class="clearfix"> </div>
    </div>
    <!--main page chit chating end here-->
    <div ng-show="!self.dongleState">
      <div class="alert alert-warning" role="alert">
        Warning: Please connect your dongle!
      </div>

    </div>
  </div>
</div>