<!--<div class="page-container">-->
    <!--<div class="left-content">-->
        <div class="mother-grid-inner">
            <!--inner block start here-->
            <div class="inner-block" ng-show="self.dongleState">
                <!--mainpage chit-chating-->
                <div class="chit-chat-layer1">
                    <div class="col-md-6 chit-chat-layer1-left">
                        <div class="work-progres">
                            <div class="chit-chat-heading">
                                Devices
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <div class="market-updates">
                                        <div class="col-md-4 market-update-gd" ng-repeat="(deviceId, info) in self.userDevices">
                                            <!--Connected ++++++++++++++++++++++++++++++++++-->
                                            <div class="market-update-block clr-block-2" ng-show="!(self.connecting[deviceId] || self.connecting_first[deviceId]) && info[1]">
                                                <div class="col-md-8 market-update-left">
                                                    <h3>{{info[0]}}</h3>
                                                    <div class="glyphicon-trash_lihi">
                                                        <button class="connect-button" ng-click="self.disconnect(deviceId)">Disconnect</button>

                                                    </div>
                                                    <div class="delete-button-left">
                                                        
                                                        <!--<div class="signs-row">-->
                                                            <img src="static/images/battery-full.png"  ng-show="self.sensors[deviceId]['BATTERY_LEVEL'] === 4">
                                                            <img src="static/images/battery-half.png" ng-show="self.sensors[deviceId]['BATTERY_LEVEL'] === 3">
                                                            <img src="static/images/battery-low.png" ng-show="self.sensors[deviceId]['BATTERY_LEVEL'] === 2">
                                                            <img src="static/images/battery_empty.png" ng-show="self.sensors[deviceId]['BATTERY_LEVEL'] === 1">
                                                            <span ng-show="self.sensors[deviceId]['TEMPERATURE']">{{self.sensors[deviceId]['TEMPERATURE']}}°C</span>
                                                            <img src="static/images/multi_36.png" ng-hide="self.sensors[deviceId]['KEY']">
                                                            <img src="static/images/multi_36_white.png" ng-show="self.sensors[deviceId]['KEY']">
                                                        <!--</div>-->
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-4 market-update-right">
                                                    <button class="settings-button"><a href ng-click="self.routeToSettings(deviceId)"><i class="fa-settings fa-cog"></i></a></button>
                                                    <button class="delete-button" ng-click="self.deleteDevice(deviceId)"><img src="static/images/garbage.png"</button>
                                                </div>
                                                <div class="clearfix"> </div>
                                                <div ng-repeat="(k, v) in self.sensors[deviceId]" ng-show="(self.debug)">
                                                    <p>{{ k }}, {{v}}</p>
                                                    <!-- <div ng-repeat="i in sen"><p>{{ i }}</p></div> -->
                                                </div>
                                            </div>
                                            <!--Disconnected ++++++++++++++++++++++++++++++++++-->
                                            <div class="market-update-block clr-block-1" ng-show="!(self.connecting[deviceId] || info[1] || self.connecting_first[deviceId])">
                                                <!--<div class="col-md-8 market-update-left">-->
                                                <h3>{{info[0]}}</h3>

                                                <!--</div>-->
                                                <div class="glyphicon-trash_lihi">
                                                    <button class="connect-button" ng-click="self.connect({device_id:deviceId, device_name:info[0]})">Connect</button>

                                                </div>

                                                <div class="delete-button-left">
                                                    <button class="delete-button" ng-click="self.deleteDevice(deviceId)"><img src="static/images/garbage.png"</button>
                                                </div>
                                                <!--</div>-->
                                            </div>
                                            <!--Connecting ++++++++++++++++++++++++++++++++++-->
                                            <div class="market-update-block clr-block-1" ng-show="self.connecting[deviceId] || self.connecting_first[deviceId]">
                                                <!--<div class="col-md-8 market-update-left">-->
                                                <h3>{{info[0]}}</h3>

                                                <!--</div>-->
                                                <div class="spinner_connecting">
                                                    <div class="dot1"></div>
                                                    <div class="dot2"></div>
                                                </div>

                                            </div>
                                        </div>

                                        <!--<div class="col-md-4 market-update-gd">

                                        </div>
                                        <div class="clearfix"> </div>-->
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="chit-chat-layer1">
                    <div class="col-md-6 chit-chat-layer1-left">
                        <div class="work-progres">
                            <div class="chit-chat-heading">

                            </div>
                            <div class=scan_button_lihi ng-show="!self.scanning">
                                <a href ng-click="self.startScanning()" class="hvr-rectangle-out">Search Devices</a>

                            </div>
                            <div class=scan_button_lihi ng-show="self.scanning">
                                <a class="hvr-rectangle-out_spinner">Search Devices
                                    <div class="spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <div class="market-updates">
                                        <div class="col-md-4 market-update-gd" ng-repeat="device in self.scannedDevices">
                                            <div class="market-update-block clr-block-1 new_device" ng-hide="self.connecting_s[device[0]]">
                                                <!--<div class="col-md-8 market-update-left">-->
                                                <h3>{{device[1]}}</h3>
                                                <div class="glyphicon-trash_lihi">
                                                    <button class="connect-button" ng-click="self.connectScanned(device)">Connect</button>

                                                </div>
                                                <!--</div>-->
                                                <div class="clearfix"> </div>
                                            </div>

                                            <div class="market-update-block clr-block-1 connecting" ng-show="self.connecting_s[device[0]]">

                                                <h3>{{device[1]}}</h3>
                                                <div class="spinner_connecting">
                                                    <div class="dot1"></div>
                                                    <div class="dot2"></div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 market-update-gd">
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </table>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!--inner block end here-->
                <div ng-show="!self.dongleState">
                    <div class="alert alert-warning" role="alert">
                        Warning: Please connect your dongle!
                    </div>

                </div>
            </div>
        <!--</div>-->
    <!--</div>-->