<div class="header-main">
    <div class="header-left">
        <div class="logo-name">
            <a ng-click="self.goHome()"> <img src="static/images/logo.png" class="logo_lihi">
                <!--<img id="logo" src="" alt="Logo"/>-->
            </a>
        </div>

        <div class="clearfix"> </div>
    </div>
    <div class="header-right">
        <div class="profile_details_left">
            <!--notifications of menu start -->
            <ul class="nofitications-dropdown">

                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">{{self.notifications.length}}</span></a>
                    <ul class="dropdown-menu">
                        <div class="notification_box" ng-repeat="note in self.notifications track by $index">
                            <h2>Device: {{note.name}}</h2>
                            <h4>{{note.msg}}</h4>
                            <div class="clearfix"> </div>
                        </div>
                    </ul>
                </li>

            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="profile_details_left">
            <!--notifications of menu start -->
            <div ng-class="self.ble.getLocalDongleState() === true ? 'on_lihi': 'off_lihi'"><i class="glyphicon glyphicon-off" aria-hidden="true" ng-click="self.setDongleState(!self.ble.getLocalDongleState())"></i>
                <p class="on_off"></p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!--notification menu end -->
        <div class="profile_details">
            <ul>
                <li class="dropdown profile_details_drop">
                    <a href class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <div class="profile_img">
                            <!--<span class="prfil-img"><img src="images/p1.png" alt=""> </span>-->
                            <div class="user-name">
                                <p>{{self.user.username}}</p>
                                <!--<span>Administrator</span>-->
                            </div>
                            <i class="fa fa-angle-down lnr"></i>
                            <i class="fa fa-angle-up lnr"></i>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <ul class="dropdown-menu drp-mnu">
                        <li> <a href ng-click="self.profile()"><i class="fa fa-user"></i> Profile</a> </li>
                        <li> <a href ng-click="self.logout()"><i class="fa fa-sign-out"></i> Logout</a> </li>
                        <li> <a href ng-click="self.swapDebug()"><i class="fa fa-cog"></i> Debug</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
 
</div>