<p>Welcome! Thanks for signing up. Please follow this link to activate your account:</p>
<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<p>Your new password is {{ password }}</p>
<br>
<p>Cheers!</p>
