<!DOCTYPE html>
<html ng-app="allbe1" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href={{url_for('static', filename='allbe1.ico')}}"">

    <title>Theme Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href={{ url_for('static', filename='css/bootstrap.min.css')}} rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href={{ url_for('static', filename='css/bootstrap-theme.min.css')}} rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href={{ url_for('static', filename='css/theme.css')}} rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Allbee1 beta</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Devices</a></li>
            <li><a href="#about">History</a></li>
            <!-- <li><a href="#contact">Contact</a></li> -->
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Allbe1 beta</h2>
        <p>Testing application before real one will be ready</p>
      </div>


      <div class="page-header">
        <h3>Dongle</h3>
      </div>
      <div ng-controller="DongleController as d_con">
        <div class="row">
          <div class="col-sm-4">
            <button type="button" class="btn btn-lg btn-primary" ng-click="reqDongleStatus(true)" ng-show='!dongleStatus()'>
              Reconnect to dongle</button>
            <button type="button" class="btn btn-lg btn-primary" ng-click="reqDongleStatus(false)" ng-show='dongleStatus()'>
              Dissconnect dongle</button>
        </div>
          <div class="col-sm-4">
            <div class="panel" ng-class="{ 'panel-success':dongleStatus(), 'panel-danger':!dongleStatus() }">
              <div class="panel-heading">
                <h3 class="panel-title">dongle status</h3>
              </div>
              <div class="panel-body" ng-show='dongleStatus()'>
                Conected
              </div>
              <div class="panel-body" ng-show='!dongleStatus()'>
                Disconnected
              </div>
            </div>
          </div><!-- /.col-sm-4 -->
        </div>
        <!-- <button type="button" class="btn btn-lg btn-default">Default</button> -->

        <!-- <button type="button" class="btn btn-lg btn-success">Success</button>
        <button type="button" class="btn btn-lg btn-info">Info</button>
        <button type="button" class="btn btn-lg btn-warning">Warning</button>
        <button type="button" class="btn btn-lg btn-danger">Danger</button>
        <button type="button" class="btn btn-lg btn-link">Link</button> -->
    </div>

    <div class="page-header">
      <h3>Allbe1 devices</h3>
    </div>
    <div ng-show='dongleStatus()' ng-controller="Allbe1Controller as a_con" >
      <div class='row'>
        <div class="col-sm-4">
          <button type="button" class="btn btn-lg btn-primary" ng-click="startScanning()" ng-show="!scanning">Start scanning</button>
          <div ng-show="scanning">
            <h4><span class="label label-info">Scanning</span></h4>
            <div class="spinner"></div>
          </div>
        </div>
        <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Founded devices</h3>
        </div>
        <div class="list-group" ng-repeat="device in scannedDevices()">
          <a class="list-group-item clearfix">
            <span class="glyphicon glyphicon-dashboard"></span>
            {{'{{device[0]}}'}}, {{'{{device[1]}}'}}
            <span class="pull-right">
              <button ng-click="connect(device)" class="btn btn-xs btn-success">Connect</button>
              <!-- <button class="btn btn-xs btn-warning">
                <span class="glyphicon glyphicon-trash"></span>
              </button> -->
            </span>
          </a>

        </div>
      </div>
    </div>
      <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Connected devices</h3>
        </div>
        <div class="list-group" ng-repeat="device in connectedDevices()">
          <a class="list-group-item clearfix">
            <span class="glyphicon glyphicon-dashboard"></span>
            {{'{{device[0]}}'}}, {{'{{device[1]}}'}}
            <span class="pull-right">
              <button ng-click="selectSetting(device)" class="btn btn-xs btn-success">Settings</button>
              <!-- <button class="btn btn-xs btn-warning">
                <span class="glyphicon glyphicon-trash"></span>
              </button> -->
            </span>
          </a>

        </div>
      </div>

    </div>
    </div>
  </div>


  <div class="page-header">
    <h3>Settings</h3>
  </div>
  <div ng-show='dongleStatus() && selectedSetting()' ng-controller="SettingsController as s_con" >
    <div class='row'>
      <div class="col-md-6">
     <!-- <h4>{{'{{selectedSetting()}}'}} Settings</h4> -->

    <div class="funkyradio" ng-repeat="(key, value) in selectedSetting()">
        <div class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox{{'{{key}}'}}" checked/>
            <label for="checkbox{{'{{key}}'}}">{{'{{key}}'}} == {{'{{value}}'}}</label>
        </div>
        <!-- <div class="funkyradio-primary">
            <input type="checkbox" name="checkbox" id="checkbox2" checked/>
            <label for="checkbox2">Tilt</label>
        </div>
        <div class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox3" checked/>
            <label for="checkbox3">Temperature</label>
        </div>
        <div class="funkyradio-danger">
            <input type="checkbox" name="checkbox" id="checkbox4" checked/>
            <label for="checkbox4">Multi button</label>
        </div>
        <div class="funkyradio-warning">
            <input type="checkbox" name="checkbox" id="checkbox5" checked/>
            <label for="checkbox5">Out of range</label>
        </div> -->
        <!-- <div class="funkyradio-info">
            <input type="checkbox" name="checkbox" id="checkbox6" checked/>
            <label for="checkbox6">Sixth Option info</label>
        </div> -->
    </div>
</div>
      </div>
    </div>

  </div>
  </div>
</div>



    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/app.js')}}></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src={{ url_for('static', filename='js/bootstrap.min.js')}}></script>
    <!-- <script src="../../assets/js/docs.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
